@media screen and (min-width:321px){
    #myButton {
        display: none;
    }
    header {
        justify-content: flex-start;
        gap: 1rem;
    }
    #myLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #myLinks a {
        padding: 1rem 2vw;
        border:none;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
    }
    #myLinks a:last-child {
        border: none;
    }
     footer {
        grid-template-columns: repeat(3, 1fr); 
        gap: 2rem;
        text-align: left;
    }
    #address, #contact, #about-me {
        padding: 0;
    }

    #address p, #about-me p {
        margin: 0;
    }

    #contact {
        text-align: center;
    }

    #contact a {
        margin: 0 15px;
    }
    
    .cards, .cards.grid-view {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }
    .cards.list-view div {
        flex-direction: row;
        justify-content: space-between;
        
    }
    .company-spotlight  {
        grid-template-columns: repeat(3, auto);
    }
    .events-weather {
        grid-template-columns: auto auto auto;
    }
    .cta-buttons {
        flex-direction: row;
    }
    .join-details {
        grid-template-columns: 1fr 1fr;
        gap: .9rem;
        align-items: start;
        margin: 0 .5rem;
    }
    .member-level h2 {
        margin: 0 0 1.5rem 0;
    }
    #dialogBox .benefits li {
        padding-left: 1.5rem;
        font-size: 1rem;
        background-size: 1.2rem;
    }
    #dialogBox h4 {
        text-align: center;
    }
    .result  {
        margin: 2rem auto;
    }

}