@media screen and (min-width:  641px)
{
    .discovery-secton > div {
        column-gap: 2rem;
        grid-template-columns:  1fr 320px;
        grid-template-areas: 
        'image name'
        'image address'
        'image button'
        'image para'
        ;}
        .discovery-secton > div > h2 {
            margin:  0;
        }
        .discovery-secton > div > address {
            margin: 0;
        }
        .discovery-secton > div > figure  {
            min-width: 100%;
        }
        .discovery-secton > div > button {
            padding: .3rem;
            height: auto;
        }
        .discovery-secton > div > p {
            text-align: left;
        }
        .discovery-secton > div > figure > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: .8;
            transition: opacity .3s ease, border-radius .3s ease;
        }
        .discovery-secton > div > figure > img:hover {
            opacity: 1;
            border-radius: 8px;
        }
}